.productGrid {
  width: 100%; /* Ocupa todo el ancho */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive */
  gap: 20px;
}

.productCard {
  width: 100%; /* Cada tarjeta ocupa el ancho de su celda */
}