.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ocupa toda la altura de la ventana */
  width: 100vw; /* Ocupa todo el ancho de la ventana */
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.header {
  background-color: #ffffff!important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%; /* Asegura que el header ocupe todo el ancho */
}

.loginButton {
  background: linear-gradient(45deg, #2e7d32 0%, #4caf50 100%) !important;
  color: white !important;
  padding: 12px 30px !important;
  border-radius: 30px !important;
  font-weight: bold !important;
  transition: transform 0.3s, box-shadow 0.3s !important;
  position: relative;
  z-index: 1;
  text-transform: uppercase !important;
  letter-spacing: 1px !important;
  box-shadow: 0 4px 15px rgba(46, 125, 50, 0.2) !important;
}

.loginButton:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(46, 125, 50, 0.3) !important;
}

.toolbar {
  width: 100%;
  max-width: none; /* Elimina cualquier restricción de ancho */
  padding: 0 20px; /* Espaciado lateral */
  box-sizing: border-box;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logoText {
  color: #2e7d32;
  font-weight: bold;
}

.content {
  flex: 1; /* Ocupa el espacio disponible entre header y footer */
  width: 100%; /* Asegura que el contenido ocupe todo el ancho */
  padding: 20px; /* Espaciado interno */
  box-sizing: border-box; /* Incluye padding en el cálculo del ancho */
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido hijo */
  align-items: flex-start; /* Alinea el contenido al inicio verticalmente */
}

.footer {
  background-color: #212121;
  width: 100%; /* Ocupa todo el ancho */
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

/* Responsividad */
@media (max-width: 600px) {
  .toolbar {
    padding: 0 10px;
  }

  .content {
    padding: 10px;
  }
}